<div *ngIf="subscriptions">
  <mat-selection-list #subsElem style="max-height: 300px; overflow: auto;">
    <mat-list-option [value]="sub" *ngFor="let sub of subscriptions.data">
      {{sub.notification.label}}
    </mat-list-option>
  </mat-selection-list>
  <p>
    Options selected: {{subsElem.selectedOptions}}
  </p>
</div>

<div>
  <button mat-raised-button color="primary" (click)="fetchEvents()">Fetch Events</button>
  <span *ngIf="loadingEvents">loading...</span>
  <div *ngIf="loadingError">{{loadingError}}</div>
</div>

<div *ngIf="events">
  <table mat-table [dataSource]="events.data">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp | date: 'full'}} </td>
    </ng-container>

    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Label </th>
      <td mat-cell *matCellDef="let element"> {{element.label}} </td>
    </ng-container>

    <ng-container matColumnDef="eventType">
      <th mat-header-cell *matHeaderCellDef> EventType </th>
      <td mat-cell *matCellDef="let element"> {{element.eventType.id}} </td>
    </ng-container>

    <ng-container matColumnDef="publication">
      <th mat-header-cell *matHeaderCellDef> Publication </th>
      <td mat-cell *matCellDef="let element"> {{element.publication.id}} </td>
    </ng-container>

    <ng-container matColumnDef="subscription">
      <th mat-header-cell *matHeaderCellDef> Subscription </th>
      <td mat-cell *matCellDef="let element"> {{element.subscription.id}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<pre>{{events|json}}</pre>
