<app-subscription-selector (selectedSubscriptionsChanged)="selectedSubscriptions($event)"></app-subscription-selector>
<div style="padding: 10px; text-align: center">{{subscriptions.length}} selected subscriptions</div>

<div>
  <button mat-raised-button color="primary" (click)="fetchEvents()" style="margin-right: 20px">Fetch Events</button>
  <span *ngIf="loadingEvents">loading...</span>
  <div *ngIf="loadingError">{{loadingError}}</div>
  <span *ngIf="events">Found {{events.data.length}} Events</span>
</div>

<div style="height: 500px; width: 100%;" *ngIf="events">
  <app-eventing-map [fitBounds]="bounds" [events]="events.data" [eventingUrl]="eventingUrl" (eventSelected)="showEvent($event)"></app-eventing-map>
</div>

<div *ngIf="events">
  <table mat-table [dataSource]="events.data">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp | date: 'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Label </th>
      <td mat-cell *matCellDef="let element"> {{element.label}} </td>
    </ng-container>

    <ng-container matColumnDef="eventType">
      <th mat-header-cell *matHeaderCellDef> EventType </th>
      <td mat-cell *matCellDef="let element"> {{element.eventType.id}} </td>
    </ng-container>

    <ng-container matColumnDef="publication">
      <th mat-header-cell *matHeaderCellDef> Publication </th>
      <td mat-cell *matCellDef="let element"> {{element.publication.id}} </td>
    </ng-container>

    <ng-container matColumnDef="subscription">
      <th mat-header-cell *matHeaderCellDef> Subscription </th>
      <td mat-cell *matCellDef="let element"> {{element.subscription.id}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
